<div class="col card event">
  <%= link_to '', dossier_path(dossier), class: "card-link-container" %>
  <div class="card-header">
    <div class="card-image-wrapper">
      <% if (image = dossier.images.order(highlighted: :desc).first) %>
        <%= image_tag(image.avatar.url, class: 'card-image') %>
      <% end %>
    </div>
  </div>
  
  <div class="card-content">
    <p class="title medium card-title multilined-text"><%= dossier.name %></p>
  </div>
</div>
