<div class="col card event">
  <%= link_to '', dossier_path(dossier), class: "card-link-container" %>
  <div class="card-header">
    <div class="card-image-wrapper">
      <%= image_tag(dossier.image, class: 'card-image') %>
    </div>
  </div>
  
  <div class="card-content">
    <p class="title medium card-title multilined-text"><%= dossier.name %></p>
  </div>
</div>
