<section>
  <div class="col-wrapper">
    <div class="content">
      <%= image_tag(@dossier.image) %>
    </div>

    <div class="sidebar">
      <h2><%= @dossier.name %></h2>
      <p class="description"><%= @dossier.description %></p>

      <% if !@dossier.donwload_link.blank? %>
        <button class="btn white">Descargar Dossier</button>
      <% end %>
    </div>
  </div>
</section>
