<section class="wrapper cards events">
  <div class="container">
    <!-- Cards wrapper -->
    <div class="col-wrapper cards">
      <%= render @dossiers %>
    </div>
    <!-- @Cards wrapper -->
  </div>
</section>
