<section>
  <div class="col-wrapper">
    <div class="content">
      <% @dossier.images.each do |image| %>
        <%= image_tag(image.avatar.url) %>
        </br>
      <% end %>
    </div>

    <div class="sidebar">
      <h2><%= @dossier.name %></h2>
      <p class="description"><%= @dossier.description.html_safe %></p>

      <% if !@dossier.donwload_link.blank? %>
        <%= link_to @dossier.donwload_link, class: "btn white", target: '_blank' do %>
          <i class="fa fa-download"></i>&nbsp;&nbsp;Descargar Dossier
        <% end %>
      <% end %>
    </div>
  </div>
</section>
